@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,900;1,300;1,400;1,900&display=swap");

:root {
  /* Themes */
  --text-dm-white: #fff;
  --text-dm-primary: #0ea5e9;
  --text-dm-secondary: #b7c3d3;
  --dm-contrast: #0ea5e9;
  --dm-tranparent: rgba(255, 255, 255, 0.4);
  --bg-dm-primary: #0b1120;
  --bg-dm-secondary: #1e293b;
  /* Other vars */
  --border-radius: 2rem;
}

* {
  font-family: inherit;
  text-decoration: none;
  margin: 0;
  padding: 0;
  -webkit-user-drag: none;
  -moz-window-dragging: none;
  -webkit-tap-highlight-color: transparent;
}

* img {
  max-width: 100%;
}

html {
  width: 100%;
  height: 100%;
}

html,
body {
  color: var(--text-dm-white);
  background: radial-gradient(circle at 80% top, #2f1d37, #0b1120 28%);
  font-family: "Montserrat", sans-serif;
  line-height: 2rem;
}

p {
  color: var(--text-dm-secondary);
}

main {
  margin: 0 auto;
  /* max-width: 650px; */
  max-width: 960px;
}

header {
  padding: 1.5rem 0 3rem 0;
}

header .site-title {
  font-size: 1.2rem;
  font-weight: bolder;
  line-height: 110%;
  color: var(--text-dm-white);
}

#bio {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
}
/* #bio-avatar-wrapper {} */
#bio-avatar {
  width: 180px;
  height: 180px;
  border-radius: 100%;
}
/* #bio-text-and-social-links {} */
#bio-text {
  line-height: 140%;
  color: var(--text-dm-secondary);
}

#social-links {
  margin: 2rem 0 3rem 0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.6rem;
}

#social-links a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  border-radius: var(--border-radius);
  color: var(--text-dm-secondary);
  background-color: var(--dm-contrast);
}

#social-links a img {
  width: 20px;
  border-radius: 50%;
}

/* article list styles */

#articles {
  display: grid;
  grid-template-columns: none;
  grid-template-rows: 1fr;
  row-gap: 3rem;
  margin-bottom: 3rem;
}

.article {
  padding: 1.2rem 2rem;
  border-radius: var(--border-radius);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transition: all 0.4s ease-in-out;
}

.article:hover {
  background-color: rgba(255, 255, 255, 0.05);
}

.article-thumbnail {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: inset 0 -80px 90px 11px rgba(0, 0, 0, 0.8); */
  width: 100%;
  min-height: 200px;
  height: auto;
  margin: -2rem -2.5rem;
  inset: 0;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  padding: 0 2.5rem 1rem 2.5rem;
}

.article-title * {
  color: inherit;
  font-size: 2rem;
  line-height: 120%;
}

.article-summary {
  color: #94a3b8;
}

.article-bottom {
  margin-top: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.article-date {
  color: var(--dm-contrast);
}

.article-categories {
  margin-top: 0.2rem;
  display: flex;
  gap: 1rem;
}

#category-links {
  margin: 2rem 0 3rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.4rem;
}

.article-category {
  padding: 0.5rem 0.8rem;
  border-radius: 10px;
  color: var(--text-dm-secondary);
  background-color: var(--bg-dm-secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.tag {
  color: var(--text-dm-white);
  background-color: var(--dm-contrast);
}

/* footer */
footer {
  margin: 10rem 0 0 0;
  padding: 2rem 2.5rem;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  font-size: 0.8rem;
  color: var(--text-dm-secondary);
}
